@model IEnumerable<ShoppingCartDemo.Models.ProductEntities>
@Scripts.Render("~/Scripts/controller/tempOder.js")
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PID })
            </td>
            <th>
                <a href="javascript:addToCart(@item.PID);" id="AddToCart"> Buy this item</a>
            </th>
        </tr>
    }

</table>
