@model IEnumerable<ShoppingCartDemo.Models.HistoryOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var item in Model)
    {
    <li>
        <p>
            <b>Order No:</b>@item.OID<br />
            <b>Customer No:</b>@item.CID<br />
            <b>Order Data:</b>@item.OrderDate<br />
            <b>Total Price:</b>@item.TotalPrice<br />
        </p>
        <p>
            <ul>
                @foreach (var i in item.listProduct)
                {
                <li>
                    <b>Product No:</b>@i.PID<br />
                    <b>Product Name:</b>@i.Name<br />
                    <b>Price:</b>@i.Price<br />
                    <b>Amount:</b>@i.Amount<br />
                </li>
                }
            </ul>
        </p>
    </li>

    }
</ul>