@model IEnumerable<ShoppingCartDemo.Models.OrderEntities>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDelivery)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDelivery)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OID })
        </td>
    </tr>
}

</table>
