@model ShoppingCartDemo.Models.ProductOrderEntities

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductOrderEntities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
